---
layout: default
---

<div class="home">
    <h1 class="page-heading">{{ page.title }}</h1>
    
    {{ content }}

    <div class="post-list">
        {% for post in site.posts %}
        <article class="post-preview">
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </p>
            <div class="post-excerpt">
                {{ post.excerpt }}
            </div>
            <div class="post-tags">
                {% for tag in post.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            <a href="{{ post.url | relative_url }}" class="read-more">Read more →</a>
        </article>
        {% endfor %}
    </div>
</div>